<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form class="form-signin" method="post" action="/api/v1/auth/register">
        <div class="form-group">
            <label class="sr-only" for="username">UserName</label>
            <input type="username" name="username" class="form-control" id="username" placeholder="Enter username">
          </div>
        <div class="form-group">
          <label class="sr-only" for="email">Email address</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
        </div>
        <button class="btn btn-dark mt-3" type="submit">Submit</button>
      </form>

      <form class="form-signin" method="post" action="/api/v1/auth/login">
        <div class="form-group">
            <label class="sr-only" for="auth">UserName</label>
            <input type="auth" name="auth" class="form-control" id="auth" placeholder="Enter auth">
          </div>
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
        </div>
        <button class="btn btn-dark mt-3" type="submit">Submit</button>
      </form>

</body>
</html>