<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Novel</title>
</head>
<body>
    <form class="form-signin" method="post" action="/novels/create">
        <div class="form-group">
            <label class="sr-only" for="_id">_id</label>
            <input type="number" name="_id" class="form-control" id="_id" placeholder="Enter _id">
          </div>
        <div class="form-group">
            <label class="sr-only" for="title">Title</label>
            <input type="title" name="title" class="form-control" id="title" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label class="sr-only" for="title">Title</label>
            <textarea name="comment" cols="40" rows="3">
              pages:[{
              "bg":"",
              "img":"",
              "name":"",   
              "msg": "",
              "pos": 0}]</textarea>
          </div>
          
        <button class="btn btn-dark mt-3" type="submit">Submit</button>
      </form>
</body>

</html>