<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <form method="get" action="/login-user">
        <button type="submit">Login</button>
    </form>
    <form method="get" action="/register-user">
        <button type="submit">Register</button>
    </form>
    <form method="get" action="/create-novel">
        <button type="submit">Add Novel</button>
    </form>
    <form method="get" action="/novels">
        <button type="submit">All Novel</button>
    </form>
</body>
</html>